# The Challenge Questions

Firstly, I will need to load my cleaned data into this notebook.

In [8]:
import polars as pl
# load parquet into clean_df
clean_df = pl.read_parquet("../data/clean_property_data.parquet")
# validate that has worked
clean_df

shape: (1_307_289, 18)
┌──────────────┬──────────┬────────────┬──────────┬───┬───────────┬───────────┬──────┬─────────────┐
│ id           ┆ price    ┆ date       ┆ postcode ┆ … ┆ lat       ┆ long      ┆ year ┆ postal_sect │
│ ---          ┆ ---      ┆ ---        ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---  ┆ or          │
│ str          ┆ f64      ┆ date       ┆ str      ┆   ┆ f64       ┆ f64       ┆ i32  ┆ ---         │
│              ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆ str         │
╞══════════════╪══════════╪════════════╪══════════╪═══╪═══════════╪═══════════╪══════╪═════════════╡
│ {D93B27B1-CB ┆ 140000.0 ┆ 2022-02-16 ┆ SK16 4DT ┆ … ┆ 53.477466 ┆ -2.091735 ┆ 2022 ┆ SK16 4      │
│ D4-3100-E053 ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -6C04A8C…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ {2ACACE8D-02 ┆ 278000.0 ┆ 2024-11-29 ┆ SK6 1QW  ┆ … ┆ 53.427355 ┆ -2.102642 ┆ 2024 ┆ SK6 1       │
│ B4-295E-E063 ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -4804A8C…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ {01EB45EF-F1 ┆ 345448.0 ┆ 2022-02-11 ┆ M1 2EY   ┆ … ┆ 53.478898 ┆ -2.224708 ┆ 2022 ┆ M1 2        │
│ B0-40F3-E063 ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -4704A8C…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ {879537F9-FB ┆ 93000.0  ┆ 2004-09-22 ┆ BL8 2RR  ┆ … ┆ 53.594024 ┆ -2.318071 ┆ 2004 ┆ BL8 2       │
│ 6B-4663-A0E5 ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -5E4075D…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ {7011B10A-2B ┆ 80000.0  ┆ 2018-05-03 ┆ BL3 4HE  ┆ … ┆ 53.56682  ┆ -2.458227 ┆ 2018 ┆ BL3 4       │
│ 91-8ED6-E053 ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -6B04A8C…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ …            ┆ …        ┆ …          ┆ …        ┆ … ┆ …         ┆ …         ┆ …    ┆ …           │
│ {B83BB2E2-7A ┆ 94130.0  ┆ 2013-05-31 ┆ M14 4EZ  ┆ … ┆ 53.454883 ┆ -2.233151 ┆ 2013 ┆ M14 4       │
│ 4C-41E6-A67B ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -1CBE9D1…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ {42A5A709-54 ┆ 142000.0 ┆ 2016-09-30 ┆ BL4 8NU  ┆ … ┆ 53.54187  ┆ -2.375203 ┆ 2016 ┆ BL4 8       │
│ F7-56E8-E050 ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -A8C0620…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ {98C75471-F5 ┆ 265000.0 ┆ 2019-10-04 ┆ M16 0HU  ┆ … ┆ 53.452352 ┆ -2.281641 ┆ 2019 ┆ M16 0       │
│ 54-72E9-E053 ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -6B04A8C…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ {43A28C2A-CC ┆ 74950.0  ┆ 2001-11-23 ┆ M15 5TE  ┆ … ┆ 53.466086 ┆ -2.253427 ┆ 2001 ┆ M15 5       │
│ 22-4DEA-A303 ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -98C9B59…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ {76EBB764-81 ┆ 207995.0 ┆ 2007-01-31 ┆ M8 5QE   ┆ … ┆ 53.513199 ┆ -2.228599 ┆ 2007 ┆ M8 5        │
│ 95-4007-847E ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
│ -C149A83…    ┆          ┆            ┆          ┆   ┆           ┆           ┆      ┆             │
└──────────────┴──────────┴────────────┴──────────┴───┴───────────┴───────────┴──────┴─────────────┘

### Q1. What are the top 10 most expensive detached homes sold as Freehold in Manchester City after 2010?

The goal of this question is to find the top 10 most expensive detached properties sold as Freehold in Manchester City after 2010. I will filter the dataframe for detached, freehold properties, in manchester after 2010. Then I will sort price by decsending and limit by 10. 

(think about how i want to present this finding, what data is relevant)

In [44]:

# Filter for the constraints given in the question
filtered_df = clean_df.filter(
    (pl.col("property_type") == "Detached") &
    (pl.col("duration") == "Freehold") &
    (pl.col("town_city").str.to_lowercase() == "manchester") &
    (pl.col("year") > 2010)
)

# Sort by price and show top 10
top_10_df = filtered_df.sort("price", descending=True).head(10)
top_10_df

q1_clean = top_10_df.select([
    "price", "date", "postcode", "street", "town_city", "district", "county", "paon", "id"
])
q1_clean

q1_clean.write_csv("../data/q1_answer.csv")

### Q2. What are the top 5 most expensive postal sectors (postal sectors are the section of the postal code after the area sector: examples include M1 3, M1 4) in the Salford district between March 2012 and September 2015?

To answer this question I will filter the data set for isolated properties in the Salford district between the dates March 1st 2012 and September 30th 2015.  I will group by the derived postal sector column I created during cleaning and calculate the average price per sector, rounded to two decimal places. Finally, return the top 5 sectors. 

This outlines the most expensive postal sector in Salford by average price during the timeframe provided. 

used cast(str) method to turn float into str and map_elements(lamba s: f"£{s}") to prepend the pound sign. Making it display ready.

In [45]:

from datetime import date

# Filter for Salford district and date range
salford_df = clean_df.filter(
    (pl.col("district").str.to_lowercase() == "salford") &
    (pl.col("date") >= date(2012, 3, 1)) &
    (pl.col("date") <= date(2015, 9, 30))
)

# Group by postal sector and calculate average price
top_sectors = (
    salford_df.group_by("postal_sector")
    .agg(pl.col("price").mean().round(2).cast(str).map_elements(lambda s: f"£{s}").alias("avg_price"))
    .sort("avg_price", descending=True)
    .head(5)
)

top_sectors
#top_sectors.write_csv("../data/q2_answer.csv")

shape: (5, 2)
┌───────────────┬───────────┐
│ postal_sector ┆ avg_price │
│ ---           ┆ ---       │
│ str           ┆ str       │
╞═══════════════╪═══════════╡
│ M30 0         ┆ £97422.03 │
│ M5 5          ┆ £90654.8  │
│ M50 1         ┆ £87926.18 │
│ M38 0         ┆ £86810.21 │
│ M6 6          ┆ £85652.37 │
└───────────────┴───────────┘

### Q3: Where in Greater Manchester Are the Most Residential Homes Being Built Over the Past 10 Years?

To address this question, I filtered the dataset for transactions between **2014 and 2024**, focusing on properties marked as `"New Build"` in the `new` column. I excluded `"Other"` property types to approximate residential homes. Grouping by `district` and counting the number of new build transactions provides a reasonable proxy for where residential construction has been most active across Greater Manchester over the past decade.

In [38]:

from datetime import date

# Filter for new residential builds sold between 2014 and 2024
new_builds_10yr = clean_df.filter(
    (pl.col("date") >= date(2014, 1, 1)) &
    (pl.col("date") <= date(2024, 12, 31)) &
    (pl.col("new") == "New Build") &
    (pl.col("property_type") != "Other")
)

# Count new build transactions per district
top_build_districts = (
    new_builds_10yr.group_by("district")
    .agg(pl.len().alias("new_build_sales"))
    .sort("new_build_sales", descending=True)
)

top_build_districts.head(10)

top_build_districts.write_csv("../data/q3_answer.csv")

### Q4: What was the most expensive non-residential property sold in Greater Manchester in 2017? Find and share context about this sale.

For this question, I focused on transactions from **2017**, specifically looking at non-residential properties categorized as "Other" in the Greater Manchester area. I sorted the prices in descending order and identified "The Printworks" as the top property. After conducting some research, I discovered that it was sold to DTZ investors in 2017 for £108 billion.

In [40]:
from datetime import date

# Filter for non-residential properties sold in Greater Manchester in 2017
non_res_2017 = clean_df.filter(
    (pl.col("year") == 2017) &
    (pl.col("county").str.to_lowercase() == "greater manchester") &
    (pl.col("property_type") == "Other (Non Residential)")
)

# Find the most expensive sale
top_non_res = (
    non_res_2017.sort("price", descending=True)
    .head(1)
)

q4_answer = top_non_res.select([
    "price", "date", "postcode", "street", "paon", "town_city", "district"
])

q4_answer.write_csv("../data/q4_answer.csv")

### Q5: Which Residential Building Types Are Experiencing the Most Significant Proportional Increase in Prices?

This question is looking at trend analysis. It's not focused on which property type is most expensive but instead which types have grown most in value, it's about relative change, not price. 

To address this question, I Excluded `"Other"` property types to concentrate solely on residential buildings, grouped the data by `property_type` and `year` to compute the **average price per type for each year**, pivoted the data for a clearer comparison of prices across different years, measured the **proportional change** in average price between the earliest and most recent years, and sorted the outcomes to determine which building types experienced the largest relative growth.

This analysis highlights which residential categories, such as `"Flat"`, `"Detached"`, and `"Terraced"` have appreciated the most over time.

In [46]:

# Filter out non-residential properties
res_df = clean_df.filter(pl.col("property_type") != "Other (Non residential)")

# Group by property type and year, calculate average price
avg_price_by_type_year = (
    res_df.group_by(["property_type", "year"])
    .agg(pl.col("price").mean().alias("avg_price"))
)

# Pivot to wide format
pivoted = avg_price_by_type_year.pivot(
    values="avg_price",
    index="property_type",
    columns="year"
)


# Extract year columns (they may be strings!)
year_cols = [col for col in pivoted.columns if str(col).isdigit()]
year_cols = sorted([int(col) for col in year_cols])

# Calculate proportional change
start_year, end_year = year_cols[0], year_cols[-1]

price_change = pivoted.with_columns(
    (
        (pl.col(str(end_year)) - pl.col(str(start_year))) / pl.col(str(start_year))
    ).alias("proportional_change")
)

# Sort and display
price_change.sort("proportional_change", descending=True).select(["property_type", "proportional_change"])

price_change.write_csv("../data/q5_answer.csv")
price_change

shape: (5, 31)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ property_ ┆ 2021      ┆ 2013      ┆ 2011      ┆ … ┆ 2010      ┆ 1996      ┆ 1998      ┆ proporti │
│ type      ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ onal_cha │
│ ---       ┆ f64       ┆ f64       ┆ f64       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ nge      │
│ str       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Terraced  ┆ 171554.79 ┆ 110705.14 ┆ 106783.70 ┆ … ┆ 108701.98 ┆ 33421.896 ┆ 37171.572 ┆ 4.795267 │
│           ┆ 2736      ┆ 5826      ┆ 7825      ┆   ┆ 4397      ┆ 121       ┆ 781       ┆          │
│ Detached  ┆ 402523.63 ┆ 264351.72 ┆ 276285.75 ┆ … ┆ 290195.37 ┆ 96281.872 ┆ 106811.73 ┆ 3.564011 │
│           ┆ 6554      ┆ 1037      ┆ 5531      ┆   ┆ 9225      ┆ 014       ┆ 6397      ┆          │
│ Semi      ┆ 242468.33 ┆ 156773.67 ┆ 153196.43 ┆ … ┆ 158038.28 ┆ 51892.181 ┆ 57748.912 ┆ 31683.85 │
│ Detached  ┆ 5143      ┆ 2456      ┆ 8533      ┆   ┆ 4683      ┆ 523       ┆ 675       ┆ 6447     │
│ Other     ┆ 981599.58 ┆ 1.3076e6  ┆ 657326.81 ┆ … ┆ 72500.0   ┆ 200.0     ┆ null      ┆ 4023.109 │
│ (Non Resi ┆ 0965      ┆           ┆ 8182      ┆   ┆           ┆           ┆           ┆ 029      │
│ dential)  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Flat      ┆ 206560.53 ┆ 119849.53 ┆ 121326.23 ┆ … ┆ 124278.87 ┆ 45915.696 ┆ 54477.571 ┆ 3.442181 │
│           ┆ 1562      ┆ 731       ┆ 8147      ┆   ┆ 1129      ┆ 867       ┆ 429       ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

### Q6: Since 1996, what property sale(s) in Trafford was the furthest south‑east?

In order to answer this question I needed to work out how to find south east using lat and long. To begin, I filtered the dataset for properties sold in Trafford since 1996. I used lat and long columns to Identify the furthest south east point, south = lowest latitude, east = highest longitude. Finally I returned the top result to inspect.

In [42]:
# Filter for Trafford sales since 1996
trafford_sales = clean_df.filter(
    (pl.col("year") >= 1996) &
    (pl.col("district").str.to_lowercase() == "trafford")
)

# Sort by latitude ascending (south) and longitude descending (east)
furthest_se = (
    trafford_sales.sort(
        by=["lat", "long"],
        descending=[False, True]  # south = low lat, east = high long
    )
    .head(1)
)

# Select key columns for context
furthest_se

q6_clean = furthest_se.select([
    "price", "date", "postcode", "street", "paon", "town_city", "district", "lat", "long"
])

q6_clean.write_csv("../data/q6_answer.csv")